$dark: #212529;
$light: #f8f9fa;
$primary: #6200EA;
$secondary: #607D8B;
$success: #009688;
$info: #00BCD4;
$warning: #FBC02D;
$danger: #F50057;
$light: #f8f9fa;
$dark: #212529;

$bg-body: #212121;












 
@import 'bootstrap/scss/bootstrap';